<h2>Installation de SYSLinux</h2>

<div class="noteclassic">
</div>

<h3></h3>
<p>
<a target="site_extterieur" href="https://www.kernel.org/pub/linux/utils/boot/syslinux/">https://www.kernel.org/pub/linux/utils/boot/syslinux/</a>
</p>

