<h2>régionaliser son clavier - clavier en français </h2>

<h3>le module syslinux/Kbdmap.c32:</h3>
<p>
<pre class="coding_filename">
label fr
  menu label clavier en francais (azerty) 
  kernel kbdmap.c32
  append maps/fr.ktl

</pre>
</p>


<h3>Références:</h3>
<p>
<ul>
	<li><a target="site_exterieur" href="http://www.syslinux.org/wiki/index.php/Kbdmap.c32">http://www.syslinux.org/wiki/index.php/Kbdmap.c32</a></li>
</ul>
</p>

