<h1>configurer un serveur ssh</h1>

<h2>Installation</h2>
<pre class="coding_root">
aptitude install -y openssh-server openssh-client openssh-blacklist openssh-blacklist-extra hotssh fail2ban
</pre>

<h2>Configuration</h2>
<p>Le fichier de configuration de sshd est <em>/etc/ssh/sshd_config</em>. Il se modifie avec la commande:
<pre class="coding_root">nano /etc/ssh/sshd_config</pre>
</p>
<div class=""noteimportant">
Par medure de sécurité il faut désactiver l'accée en root via ssh ainsi la connexion via X11:
<ul>
<li>PermitRootLogin <em>yes</em> -&gt; PermitRootLogin <em>no</em></li>
<li>X11Forwarding <em>yes</em> -&gt; X11Forwarding <em>no</em></li>
</ul>
</div>

</p>

<h2>Redemarrer le serveur</h2>
<pre class="coding_root">/etc/init.d/ssh restart</pre>

<hr>
<h2>Références:</h2>
<ul>
	<li><a href="http://www.debian.org/doc/manuals/securing-debian-howto/ap-chroot-ssh-env.fr.html" >Manuel de sécurisation de Debian Annexe G - Environnement de chroot pour SSH</a> (non utilisé)</li>
	<li><a href="http://blog.ulysses.fr/index.php/post/28/10/2009/chroot-et-SSH" >chroot-et-SSH</a></li>
</ul>

<hr>

<h1>Transfert de fichiers avec sshfs</h1>

<h2>Rôle</h2>
sshfs utilise ssh pour transférer des fichiers entre un client et un serveur ssh. Il bénéficie donc de tous les avantages (cryptages, tuneling, etc). Le repertoire connecté se conmportera comme un repertoire local 'avec une certaine latente si la connexion se fait via internet.

<h2>Installation</h2>
<ul>
	<li>coté serveur: le serveur ssh (voir plus haut)</li>
	<li>coté client:<pre class="coding_root">aptitude install sshfs</pre></li>
</ul>


<h2>monter/démonter des répertoires distants</h2>

	<h3>Monter un répertoire distant</h3>
	<p>
	<pre class="coding_user">sshfs <em>utilisateur</em>@<em>ip_serveur_distant</em>:<em>repertoire_distant &nbsp; repertoire_local</em> -o follow_symlinks</pre>
	Exemple:
	<pre class="coding_user">sshfs <em>pascal</em>@<em>serveur.legral.fr</em>:<em>/mediatheques /home/pascal/legralNet/serveur/serveur-mediatheques  -o follow_symlinks</pre>
	<div class="noteclassic">Le répertoire local doit exister.</div>
	</p>

	<h4>Options lors du montage</h4>
	<ul>
		<li>-o follow_symlinks: suivre les liens symboliques (coté serveur)</li>
	</ul>

	<h3>Démonter un répertoire distant</h3>
	<pre class="coding_user">sshfs -u <em>repertoire_distant</em></pre>
<!--
<hr />
<h2>Références:</h2>
<ul>
	<li><a href="" ></a></li>
</ul>
-->


