<p>
	pxe:
<ul>
	<li><a target="reference" href="https://en.wikipedia.org/wiki/Preboot_Execution_Environment">https://en.wikipedia.org/wiki/Preboot_Execution_Environment</a></li>
	<li><a target="reference" href="http://publications.jbfavre.org/system/serveur_pxe_installation_debian_ubuntu_centos_redhat">http://publications.jbfavre.org/system/serveur_pxe_installation_debian_ubuntu_centos_redhat</a></li>
	<li><a target="reference" href="http://www.etanonline.fr/V5/2011/installation-dun-serveur-pxe-sous-debian-squeeze/">http://www.etanonline.fr/V5/2011/installation-dun-serveur-pxe-sous-debian-squeeze</a></li>
	<li><a target="reference" href="http://guim.info/dokuwiki/debian/pxelinux?do=index">http://guim.info/dokuwiki/debian/pxelinux?do=index</a></li>
	<li><a target="reference" href="http://pxe.dev.aboveaverageurl.com/index.php/PXE_Booting">http://pxe.dev.aboveaverageurl.com/index.php/PXE_Booting</a></li>
	<li><a target="reference" href="http://www.syslinux.org/wiki/index.php/PXELINUX">http://www.syslinux.org/wiki/index.php/PXELINUX</a></li>
	<li><a target="reference" href="file:///live/cow/pascalDocs/www/sysLinux/pxeLinux/pxeLinux-doc/article63.shtml ">file:///live/cow/pascalDocs/www/sysLinux/pxeLinux/pxeLinux-doc/article63.shtml </a></li>
	<li><a target="reference" href="http://smhteam.info/wiki/index.linux.php5?wiki=InstallationReseau">http://smhteam.info/wiki/index.linux.php5?wiki=InstallationReseau</a></li>
</ul>
	dhcp
<ul>
	<li><a target="reference" href="http://www.debianhelp.co.uk/dhcp.htm">http://www.debianhelp.co.uk/dhcp.htm</a></li>
</ul>
	atftp
<ul>
	<li><a target="reference" href="http://www.irongeek.com/i.php?page=backtrack-3-man/atftpd">http://www.irongeek.com/i.php?page=backtrack-3-man/atftpd</a></li>

</ul>
