<h1 class="h1">Installation</h1>
Récapitulatif des actions à faire pour chaque programme. Leurs configurations se trouvent dans leurs pages respectives.

<div class="noteclassic">
Rappel: l'installation est basé suir une GNU/Linux Debian 7.0<br>
Depuis debian 7 (wheezy) on peut utiliser la synatxe:
<pre class="coding_root">service nom_du_service start|stop|force-reload</pre>
(remplace /etc/init.d/nom_du_service start|stop|force-reload)
</div>

<h2 class="h2">dhcdp:</h2>
<p>
<pre class="coding_root">aptitude install isc-dhcp-server</pre>
Fichier de configuration:<span class="filename">/etc/dhcp/dhcpd.conf</span> et <span class="filename">/etc/default/isc-dhcp-server</span><br>

Démarrer/Arrêter le service:<pre class="coding_root">
/etc/init.d/isc-dhcp-server start
/etc/init.d/isc-dhcp-server stop</pre>

Configuration:<a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=PXELinux&PXELinux=dhcp&">tutoriel</a>
</p>

<h2 class="h2">tftpd:</h2>
<p>
<pre class="coding_root">aptitude install atftpd</pre>
Fichier de configuration:<span class="filename">/etc/default/atftpd</span><br>

Démarrer/Arrêter le service:<pre class="coding_root">
/etc/init.d/atftpd start
/etc/init.d/atftpd stop</pre>

Configuration:<a href="/legralNet/legralNet-0.2/?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=PXELinux&PXELinux=atftp&">tutoriel</a>
</p>

<h2 class="h2">pxe:</h2>
<p>
<pre class="coding_root">aptitude install pxe</pre>
Fichier de configuration:<span class="filename">/etc/pxe.conf</span><br>

Démarrer/Arrêter le service:<pre class="coding_root">
/etc/init.d/pxe start
/etc/init.d/pxe stop</pre>
Configuration:<a href="?page=tutoriels&tutoriels=bootLoader&bootLoader=SYSLinuxProject&sysLinuxProject=PXELinux&PXELinux=pxe&">tutoriel</a>
</p>

<h1 class="h1">topologie du réseau</h1>
<p>
Dans le cadre de ce tutoriel, le réseau est comme suit:
<ul>
	<li>box: Passerelle internet:192.168.1.254</li>
	<li>box: Plage d'attribution des adresses fournit par le dhcpd):192.168.1.1 192.168.1.100 </li>
	<li>serveur dhcpd, tftpd, pxe: 192.168.1.1<br>
	Plage d'attribution des adresses fournit par le dhcpd:192.168.1.150 192.168.1.160
	</li>
	<li>pc client: son IP peut être défini manuellement à condition qu'il n'entre pas en conflit avec l'attribution d'un des deux serveurs dhcp.</li>
</ul>
</p>
