<h1>les clients bootLoader</h1>
<div class="noteclassic">Cette partie concerne les clients c'est à dire les machines qui veulent démarrer depuis le réseaux et non le serveur.</div>


<h2>Les clients améliorés</h2>

SI la carte réseau de votre machine n'a pas de fonction de netBoot rien n'est perdu il existe plusieurs solutions qui permettent de démarrer par le réseau. <br>
<a href="http://etherboot.org" target="sites_exterieur">Etherboot</a> (anciennement gPXE)  est un logiciel open source (sous licence GPL)  qui s'installe sur un disque (disque dur, usb (avec persistence), cd (avec stockage) et boot dessus. Le programme remplace avantageusement la fonction pxe de la carte réseau car elle propose plus de service que les cartes standard (voir le <a href="http://etherboot.org/howtos" target="sites_exterieur">howtos</a>).<br>
Cela mériterais un tuto a part entière.




