<h1 class="h1">Les mails- chiffrer</h1>
<p>
</p>

<h1 class="h1">installé enigmail</h1>
Le plus simple pour signer et chiffrer ses mails est d'utiliser enigmail C'est un addon pour thunderbird

<ul>
	<li>https://www.enigmail.net/home/index.php</li>
	<li>https://www.enigmail.net/download/index.php</li>
</ul>


<h2 class="h2">installé enigmail</h2>
Installer

