﻿<h2>Ajouter une image de fond</h2>
<p>
Si les images sont dans <span class="fsRoot">/srv/tftp/</span><span class="fsDir0">sysMenu/</span><span class="fsDir1">splashes/</span>:<br>
<span class="coding_file">menu background splash/background.png</span>
</p>


<h3>convertir une image pour qu'elle soit compatible pour syslinux (et grub-legacy)</h3>
<p>
<pre class="coding_user">convert -resize 640×480! -depth 16 -colors 65536 votreimage.jpg splash.png</pre>
Convert est un utilitaire contenu dans le paquet imagemagick‎.
</p>

<h3>Référence</h3>
<p>
<ul>
	<li><a target="site_exterieur" href="http://comptb.cects.com/1079-create-grub4dos-and-grub-compatible-splash-images">http://comptb.cects.com/1079-create-grub4dos-and-grub-compatible-splash-images</a></li>
	<li><a target="site_exterieur" href="http://www.gentilkiwi.com/documentations-s11-t-pxe.htm">http://www.gentilkiwi.com/documentations-s11-t-pxe.htm</a></li>
</ul>
</p>
