﻿<h2>User interface: Positionner son texte</h2>

<pre class="coding_user">
# positionnement 

## encadrement general
<span class="keyword">menu margin</span>   <span class="parametre">10</span>
<span class="keyword">menu width</span>    <span class="parametre">80</span>
<span class="keyword">menu row<span style="color:red">s</span></span>    <span class="parametre">14</span>
<span class="keyword">menu endrow</span>    <span class="parametre">22</span> <span style="color:red">ATTENTION pas de "s" à la fin!</span>

## texte specifique
<span class="keyword">menu tabmsgrow</span>    <span class="parametre">20</span>
<span class="keyword">menu cmdlinerow</span>    <span class="parametre">22</span>

<span class="keyword">menu timeoutrow</span>    <span class="parametre">22</span>

## encadrement du mot de passe
<span class="keyword">menu passwordmargin</span>    <span class="parametre">3</span>
<span class="keyword">menu passwordrow</span>    <span class="parametre">11</span>
</pre>
<img src="./pages/documentations/linux/sysLinux/sysLinux-menu.svg">
