<h1 class="h1">tutoriels - accueil</h1>

<h2 class="h2">Compilation</h2>

Il est souvent nécessaire de compiler depuis les sources quand un programme n'existe pas dans les paquets de sa distribution.

<pre class="coding_user">./configure --help</pre>

Cette commande permet de connaitre les options de compilation de programme.

On lance le configure avec les options qui vont bien ou pas (compte utilisateur) .

./configure

Le configure permet de savoir si tous les élements nécessaire à la compilation sont présent. La commande permet également de générer les fichiers makefile servant à la compilation propement dite.

On lance ensuite la compilation avec (compte utilisateur)

<pre class="coding_user">make</pre>

Si tout se passe bien et qu'auncune erreur n'est présente, le programme est compilé et prèt à fonctionner.
</p>



<h2 class="h2">Installation:</h2>
<p>
Cette manipulation, qui se fait en root, n'est pas obligatoire, elle permet juste d'avoir accè au programme via les répertoires du path (/bin,/usr/bin,/sbin/,etc)

<pre class="coding_root">make install</pre>

Le programme est ainsi installé et fonctionnel.
</p>

