<h2>debianLive - accueil</h2>
<p>
Ces tutoriaux vous apprendront à générer vous même un fichier image contenant votre propre version personalisé de debian et à la graver sur un support (cd/disque dur/clef USB).
Pour le un démarrage par le réseau voir PXELinux (dans le projet sysLinux).
<h3>Convention d'écriture</h3>
Dans une ligne tel que:
<pre class="coding_user">	lb config --apt-recommends true|false</pre>
<ul>
	<li>true est la valeur par defaut en cas d'abscence de définition</li>
	<li>| ne doit pas être écrit il indique qu'il faut choisir l'une OU l'autre option.</li>
</ul>	
</p>

<div class="noteclassic">Ces tutos se veulent le plus complets possibles pour pouvoir comprendre et faire un maximum de choses d'où leurs longueurs. Cette quantité peut refreiner les débutants.</div>
