<h2>Création et personalisation d'un fichier image d'une debian</h2>
<p>
<h3>Les étapes:</h3>
Ces étapes se font dans l'ordre.
<ol>
	<li>Préparation: étape indispensable pour bien comprendre comment générer une image.</li>
	<li>les bases: connaitre les commandes pour la personalisation </li>
	<li>utilisation de mirroirs</li>
	<li>packtages-list: intégration de packtages-list</li>
	<li>ajout d'un .deb: ajout d'un fichier .deb pour installation ultérieur par l'utilisateur du live.</li>
	<li>ajout de fichiers quelconques: permet de modifier à volonter le système de fichier créer</li>
	<li>execution de script (les hooks): execution de scripts au lancement de l'image pour une configuration plus poussé.</li>
	<li></li>
</ol>
d'autres personalisation peuvent se faire:
<ul>
	<li>au chargement du noyau via initrd: cela passe par le live-boot</li>
</ul>

</p>

