<h2>debianLive - références</h2>
<p>
<ul>
	<li><a target="references" href="http://www.debianaddict.org/article34.html">Debian en francais</a></li>
	<li><a target="references" href="http://www.blaess.fr/christophe/2011/09/02/creation-dun-systeme-live-linux-personnalise/">http://www.blaess.fr/christophe/2011/09/02/creation-dun-systeme-live-linux-personnalise/</a></li>
	<li><a target="references" href="http://live.debian.net/manual/3.x/html/live-manual/customizing-package-installation.fr.html">http://live.debian.net/manual/3.x/html/live-manual/customizing-package-installation.fr.html</a></li>
	<li><a target="references" href=""></a></li>
	<li><a target="references" href=""></a></li>
	<li><a target="references" href=""></a></li>
</ul>	
</p>

