<h2>Pr&eacute;paration</h2>

<div class="noteimportant">Cette préparation est importante faite la (et jusqu'au bout!)</div>

<h3>Installation des logiciels utilisés</h3>
<pre class="coding_root">	aptitude install live-build</pre>


<h3>Création du repertoire de travail</h3>

<pre class="coding_user">
	mkdir imgTest
	cd imgTest
</pre>

<h3>Création du repertoire de travail</h3>
	création de l'arborescence:<pre class="coding_user">	lb config	</pre>

Résultat:
<pre class="coding_file">
./auto
./auto/functions
./auto/scripts

./config
<span class="binary">
./config/binary_debian-installer
./config/binary_debian-installer-includes
./config/binary_grub
./config/binary_local-debs
./config/binary_local-hooks
./config/binary_local-includes	// cette arborescence sera copier en surcharge sur l'image (support:USB,CD,etc). ex: ./config/binary_local-includes/autorun.bat -> /autorun.bat
./config/binary_local-packageslists
./config/binary_local-udebs
./config/binary_rootfs
./config/binary_syslinux
</span>
<span class="chroot">
./config/chroot_apt
./config/chroot_local-hooks
./config/chroot_local-includes	// cette arborescence sera copier en surcharge sur la live. ex: ./config/chroot_local-includes/racine.txt -> /racine.txt
./config/chroot_local-packages
./config/chroot_local-packageslists
./config/chroot_local-patches
./config/chroot_local-preseed		// reponse automatique au debconf
./config/chroot_sources		// ajout des source deb
./config/includes
./config/templates
</span>
<b>fichiers</b>
./config/binary
./config/bootstrap
./config/chroot
./config/common
./config/source
</pre>

Précision sur binary et chroot<br>
binary represente le support  cd,usb.<br>
chroot  reprensete le systeme de fichier du live une fois monté.<br>
	</li>

	<li>
	Néttoyage de l'arborescence (inutile à la première création mais à faire OBLIGATOIREMENT entre 2 constructions (lb build))
	<pre class="coding_root">	lb clean</pre>
	</li>
</ul>

<h3>Création du repertoire ./auto</h3>
Le meilleur moyen de parametrer la configuration est d'utiliser le repertoire auto. <br>
Pour cela créer et render executable les 3 fichiers suivants: ./auto/config ./auto/build ./auto/cean
<pre class="coding_user">
echo '#!/bin/sh' > ./auto/config
echo 'lb config noauto	\ ' >> ./auto/config
echo ' --packages-lists standard \ ' >> ./auto/config
echo ' --packages "iceweasel flezilla" \ '  >> ./auto/config
#echo ' "${@}" ' >> ./auto/config

echo '#!/bin/sh' > ./auto/clean
echo 'lb clean noauto "${@}" ' >> ./auto/clean
echo 'rm -f binary.log ' >> ./auto/clean

echo '#!/bin/sh' > ./auto/build
echo 'lb build noauto "${@}" 2>&1 | tee binary.log' >> ./auto/build

# set executable
chmod +x ./auto/config
chmod +x ./auto/build
chmod +x ./auto/clean
</pre>
</p>

<p>
<div class="notetip">Le parametre noauto empeche un nouvel appelle au repertoire auto.</div>

<h3>Personalisation de l'image</h3>
voir les étapes suivantes du menu.

<h3>Contruction de l'image</h3>

<div class="notewarning">La construction doit se faire en root!</div>
<pre class="coding_root">lb build</pre>
ou, si vous n'avez pas personalisé le fichier ./auto/build
<pre class="coding_root">lb build noauto "${@}" 2>&1 | tee binary.log</pre>
</p>
