<h2>Ajouter de la persistance au live</h2>
<p>
Une fois votre image générer et copier sur le support vous aurez un système opérationnel mais toutes les modifications seront détruites à l'extinction.
La fonctionnalité de persistance permet justement de rendre permanent tout ou partie de ces modifications.<br>
L'activation de la persistance se fait par l'ajout de l'option <span class="keyword">persistence</span> dans l'append<br>
Les seules actions à faire consistent en la création d'un espace de stockage et la mise à jours du fichier /syslinux/live.cfg<br>

<h3>Créer l'espace de stockage des données</h3>
<p>
L'espace de stockage recevant les données ont 2 formes:
<ul>
	<li>une partition de n'importe quel format (fatXX,extX,etc) mais dont le label est "live-rw" (ou commençant par).</li>

	<li>un fichier:
	il faut créer un fichier contenant l'image et le mettre en racine de n'importe quel disque de la machine.
	<pre class="coding_user">
dd if=/dev/null of=live-rw bs=1G seek=1	# création d'un fichier d'1 Go contenant l'image
/sbin/mkfs.ext2 -F live-rw
	</pre>
	</li>
</ul>

Le fonctionnement consiste à charger une partition "live-rw" et à surcharger les répertoires en lecture seule du live par ceux du "live-rw" en écriture.<br>
Au premier chargement de "live-rw" les répertoires systèmes sont créés. La partition peut ne pas être vide. Les données existantes ne seront pas effacés.<br>
<div class="notetip">Le mécanisme existe aussi pour "home-rw"</div>
<div class="notetip">Plusieurs partitions "live-rw" peuvent coexister à condition de les suffixer. Par exemple "live-rw-moi" "live-rw-toi"</div>

<pre class="coding_user">
blkid		<i># pour trouver le /dev/? associé</i>

<i>#formater la partition et la nommer 'live-rw' le système de fichier peut être de n'importe quel type</i>
mkfs.ext4 -L live-rw /dev/sdb2

<i>#renommer la partition (pour celles préexistantes)</i>
tune2fs -L live-rw /dev/sdb2		# for ext2,3,4 filesystems
dosfslabel /dev/sdb2 live-rw		# for a fat filesystem
</pre>

<div class="noteclassic">vous pouvez utiliser l'espace "libre" 
	<pre class="coding_file"># ??? commande à retrouver!</pre>
</div>
</p>

<h3>Modifier syslinux</h3>
<p>
<div class="noteimportant">Dans le cas d'une image sur support en lecture seule (cd) la modification doit être faite avant le gravage de celle ci!</div>

La dernière étape consiste à modifier le système syslinux. Cette opération reste tres facile:<br>
<span class="coding_filename">/live/image/syslinux.live.cfg</span><br>
code original:
<pre class="coding_file">
label live
        menu label Live
        kernel /live/vmlinuz
        append initrd=/live/initrd.img boot=live config
</pre class="coding_file">

code modifier:
<pre class="coding_file">
label live
        menu label Live 
        kernel /live/vmlinuz
        append initrd=/live/initrd.img boot=live config  <span class="keyword">persistence</span> <i>locales=fr_FR.UTF-8 keyboard-layouts=fr</i>
</pre>

ou dans le cas de plusieurs "live-rw"
<pre class="coding_file">
label live_lui
        menu label Live de moi
        kernel /live/vmlinuz
        append initrd=/live/initrd.img boot=live config  <span class="keyword">persistence persistence-subtext=lui</span> <i>locales=fr_FR.UTF-8 keyboard-layouts=fr</i>

label live_elle
        menu label Live de moi
        kernel /live/vmlinuz
        append initrd=/live/initrd.img boot=live config  <span class="keyword">persistence persistence-subtext=elle</span> <i>locales=fr_FR.UTF-8 keyboard-layouts=fr</i>
</pre>

les partitions devront se nommer "live-rw-lui" et "live-rw-elle". Chacun pourra avoir sa clef, les 2 pouvant être pressent au démarrage ou seul la clef sélectionnée sans interférer sur les données de l'autre.
Si la clef n'est pas présente alors qu'elle est appelé la session sera sans persistance.
les données de la clefs seront montés sur /live/cow/ et la racine du support sera monté sur /live/image/
<div class="notetip">locales=fr_FR.UTF-8 keyboard-layouts=fr régionalise l'os. Les paquets de la langue doit être installé dans l'image!</div>
</p>

<h3>Sélectionner les répertoires persistants:</h3>
<p>
En mettant un fichier nommé: live-persistence.conf en racine du répertoire.
<span class="coding_filename">live-persistence.conf</span><br>
<pre class="file">
/usr <span class="keyword">union</span>
/home
/var/cache/apt
</pre>
Le mot-clef <span class="keyword">union</span> permet de fusionné l'existant avec les nouveaux fichiers. Les nouveaux écrasants les anciens si même nom.
</p>



<h3>Références:</h3>
<p>
<a href="http://live.debian.net/manual/3.x/html/live-manual/customizing-run-time-behaviours.fr.html#529">http://live.debian.net/manual/3.x/html/live-manual/customizing-run-time-behaviours.fr.html#529</a>
</p>

<h2>Manipuler les fichiers casper</h2>
<a href="http://jan.varho.org/?p=254">http://jan.varho.org/?p=254</a>