<h1 class="h1">h1</h1>
<p>ppppp</p>

<h2 class="h2">h2</h2>
<p>ppppp</p>

<h3 class="h3">h3</h3>
<p>ppppp</p>

<h4 class="h4">h4</h4>
<p>ppppp</p>



Récapitulatif des actions à faire pour chaque programme. Leurs configurations se trouvent dans leurs pages respectives.

<div class="noteclassic">div.noteclassic</div>
<div class="noteimportant">div.noteimportant</div>
<div class="notetip">div.notetip</div>

<pre class="coding_root">pre class="coding_root"</pre>
<pre class="coding_user">pre class="coding_user"</pre>
<span class="coding_filename">span class="coding_filename</span>
<pre class="coding_file">pre class="coding_file"</pre>

<span class="fsRoot">span.fsRoot</span>/
<span class="fsDir0">span.fsDir0</span>/
<span class="fsDir1">span.fsDir1</span>/
<span class="fsDir2">span.fsDir2</span>

