<h1 class="h1">annexes</h1>

<ul class="annexes">
	<li>un peu partout sur <a target="_blank" href="http://perdu.com">internet</a></li>
	<li><a target="_blank" href="www.shellunix.com">internet</a>www.shellunix.com</li>
</ul>
