<h1 class="h1">GNU/Linux: les systèmes de fichiers</h1>
<h2 class="h2">ext3</h2>


<h2 class="h2">ext4</h2>
	<h3 class="h3">les paquets</h3>

	<h3 class="h3">création</h3>
	mkfs.
	<h3 class="h3">vérification</h3>

	<h3 class="h3">modification</h3>


<h2 class="h2">reiserfs</h2>
	<h3 class="h3">les paquets</h3>
	reiserfsprogs
	<h3 class="h3">création</h3>
	mkfs.reiserfs
	<h3 class="h3">vérification</h3>
	reiserfsck
	<h3 class="h3">modification</h3>
	reiserfstune

<h2 class="h2">XFS</h2>
	<h3 class="h3">les paquets</h3>
	xfsprogs:<br>
	xfsdump: <br>
	xfs_admin: <br>
  	xfs_copy: <br>       xfs_freeze: <br>      xfs_info: <br>        xfs_mdrestore: <br>   xfs_ncheck: <br>      xfs_rtcp: <br>        
	xfs_bmap: <br>
	xfs_db: <br>          xfs_fsr: <br>
	xfs_io: <br>          xfs_metadump: <br>    xfs_quota: <br>
	xfs_check: <br>
	xfs_estimate: <br>
	xfs_growfs: <br>
	xfs_logprint: <br>
	xfs_mkfile: <br>
  	xfs_repair: <br> 

	<h3 class="h3">création</h3>
	mkfs.
	<h3 class="h3">vérification</h3>

	<h3 class="h3">modification</h3>


<p>


</p>

