<h1 class="h1">FileZilla</h1>

<h3 class="h3">Installation</h3>
<p>
site officiel: <a target="site_exterieur" href="https://filezilla-project.org/">https://filezilla-project.org/</a>
Télécharger le client (pas le serveur)
</p>
<h3 class="h3">configuration g&eacute;n&eacute;rale</h3>
<p>
<img src="pagesLocales/legralNet/logiciels/filezilla/tuto-filezilla-1.png"/>
</p>

<h3 class="h3">Ajout d'une connexion à un site</h3>
<p>
Accèder au gestionnaire de site: [Ctrl S] ou Fichier -&gt; gestionnaire de site:
<img src="pagesLocales/legralNet/logiciels/filezilla/tuto-filezilla-3.png"/>
</p>

<h3 class="h3">copier des fichiers</h3>
<p>
<img src="pagesLocales/legralNet/logiciels/filezilla/tuto-filezilla-4.png"/>
</p>



